html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:aliceblue;
  color:crimson;
}

#API-Results {
  margin-top: 20px;
  background-color: slategray;
  border-color: crimson;
  border-style:dotted;
  color: black;
}
#numjokes{
margin: auto;
}
#twopartsetup{
    visibility: hidden;
}
#twopartdelivery{
    visibility: hidden;
}