
@using MVC_WebApp.Models;
@model MVC_WebApp.Models.RootModel

@{
    ViewData["Title"] = "outputs results";
}
<div class="text-center">
    <h1>All jokes created by current user, currently stored in database</h1>
    <form asp-action="resetOutputDB"> <button type="submit" class="btn btn-danger" >Reset</button></form>
    @{
        int jokeCount = 0;
        if (Model==null)
        {
                <p>No jokes found</p>
        }
        else{
            foreach(JokeModel joke in Model)
            {
                jokeCount++;
                    <p>Joke @jokeCount</p>
                if (joke.type == "single")
            {
                    <p>@joke.joke</p>
            }
            else
            {
                    <p>@joke.setup</p>
                    <p>@joke.delivery</p>
            }
                <br/>

        }
        if(jokeCount == 0)
        {
                <p>No jokes found</p>
        }
        }
    }
</div>

@section Scripts{
<script>
       
    </script>
}
