@using MVC_WebApp.Models;

@model MVC_WebApp.Models.JokeModel

@{
    ViewData["Title"] = "UserJokes";
    JokeModel UserJoke = new JokeModel();
    if (Model != null)
    {
        UserJoke = Model;
    }
    else
    {
        UserJoke.type = "single";
        UserJoke.setup = "";
        UserJoke.joke = "No joke";
        UserJoke.delivery = "";
    }
}


<h1>UserJokes</h1>

<h4>JokeModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <select asp-for="type" id="selectjoketype" class="text-danger">
                    <option value="single">single</option>
                    <option value="two-part">two-part</option>
                    </select>
                <span asp-validation-for="type" class="text-danger"></span>
            </div>

            <div class="form-group" id="twopartsetup" style="display:none">
                <label asp-for="setup" class="control-label"></label>
                <input asp-for="setup" class="form-control" id="twopartsetupinput" />
                <span asp-validation-for="setup" class="text-danger"></span>
            </div>
          
            <div class="form-group" id="oneliner">
                <label asp-for="joke" class="control-label"></label>
                <input asp-for="joke" class="form-control" id="onelinerinput" />
                <span asp-validation-for="joke" class="text-danger"></span>
            </div>

            <div class="form-group" id="twopartdelivery" style="display:none">
                <label asp-for="delivery" class="control-label"></label>
                <input asp-for="delivery" class="form-control" id="twopartdeliveryinput"/>
                <span asp-validation-for="delivery" class="text-danger"></span>
            </div>

            <div class="form-group pt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
<div id="display_user_joke">
    <h1 id="userCreatedJokes">Jokes created by user <button id="clearjokes" type="button" class="btn btn-danger">Reset all user jokes,</br> including in database</button></h1>
    <!-- Jokes to be inserted by JavaScript-->
</div>

<div>
    <p><a href="/home/outputdb">View all jokes</a></p>
    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script> 
        //create array to store jokes. use to store jokes in local storage
        var jokeList = [];

        //update page depending on joke type
        $("#selectjoketype").change(function () {
            if (this.value == "single") {
                $("#oneliner").css("display", "block");
                $("#twopartsetup").css("display", "none");
                $("#twopartdelivery").css("display", "none");
                $("#twopartsetupinput").val("");
                $("#twopartdeliveryinput").val("");
                $("#onelinerinput").required = true;
                $("#twopartsetupinput").required = false;
                $("#twopartdeliveryinput").required = false;
            }
            else {
                $("#oneliner").css("display", "none");
                $("#twopartsetup").css("display", "block");
                $("#twopartdelivery").css("display", "block");
                $("#onelinerinput").val("");
                $("#onelinerinput").required = false;
                $("#twopartsetupinput").required = true;
                $("#twopartdeliveryinput").required = true;
            }
        });

        //post joke and display returned joke on page
$("form").submit(function (e) {
            e.preventDefault();
            var joke = {
                type: $("#selectjoketype").val(),
                setup: $("#twopartsetupinput").val(),
                joke: $("#onelinerinput").val(),
                delivery: $("#twopartdeliveryinput").val()
            };
            if(joke.type=="single" && joke.joke=="" )
            {
                alert("please enter a joke");
                return;
            }
            if (joke.type == "two-part" && (joke.setup == "" || joke.delivery == "")) {
                alert("please enter a setup and delivery");
                return;
            }
            
            $.ajax({
                type: "POST",
                url: "/home/postuserjokesJSON",
                data: joke,
                success: function (data) {
                    var joke = JSON.parse(data);
                    if(joke.type == "single") {
                        $(`<div class='border-bottom border-primary'><p>`
                        + joke.joke
                        +`</p></br></div>`)
                        .insertAfter("#userCreatedJokes");
                        jokeList.push(joke);

                    }
                    else {
                        $(`<div class='border-bottom border-primary'><p>Setup: `
                            + joke.setup + `</p><p> Punchline: `
                            + joke.delivery + `</p></br></div>`)
                            .insertAfter("#userCreatedJokes");
                             jokeList.push(joke);
                    }
                    var jokeListJSON = JSON.stringify(jokeList);
                    localStorage.setItem("jokeList", jokeListJSON);
                    
                   
                 
                },
                error: function (data) {
                    alert("error");
                }
            });
        });
        // retrieve jokeList from local storage and parse to javascript array
        $(document).ready(function () {
            var jokeListJSON = localStorage.getItem("jokeList");
            if (jokeListJSON != null) {
                jokeList = JSON.parse(jokeListJSON);
                for (var i = 0; i < jokeList.length; i++) {
                    if (jokeList[i].type == "single") {
                        $(`<div class='border-bottom border-primary'><p>`
                            + jokeList[i].joke
                            + `</p></br></div>`)
                            .insertAfter("#userCreatedJokes");
                    }
                    else {
                        $(`<div class='border-bottom border-primary'><p>Setup: `
                            + jokeList[i].setup + `</p><p> Punchline: `
                            + jokeList[i].delivery + `</p></br></div>`)
                            .insertAfter("#userCreatedJokes");
                    }
                }
            }
        });

        //remove all values from jokeList, stringify and store in local storage as jokeList
           $("#clearjokes").click(function () {
            jokeList = [];
            var jokeListJSON = JSON.stringify(jokeList);
            localStorage.setItem("jokeList", jokeListJSON);
            $("#userCreatedJokes").nextAll().remove();
            window.location.href = '@Url.Action("resetUserJokes", "Home")'
        });
        
    </script>
}