@using MVC_WebApp.Models;

@model MVC_WebApp.Models.JokeModel

@{
    ViewData["Title"] = "UserJokes";
    JokeModel UserJoke = new JokeModel();
    if (Model != null)
    {
        UserJoke = Model;
    }
    else
    {
        UserJoke.type = "single";
        UserJoke.setup = "";
        UserJoke.joke = "No joke";
        UserJoke.delivery = "";
    }
}


<h1>UserJokes</h1>

<h4>JokeModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <select asp-for="type" id="selectjoketype" class="text-danger">
                    <option value="single">single</option>
                    <option value="two-part">two-part</option>
                    </select>
                <span asp-validation-for="type" class="text-danger"></span>
            </div>

            <div class="form-group" id="twopartsetup" style="display:none">
                <label asp-for="setup" class="control-label"></label>
                <input asp-for="setup" class="form-control" id="twopartsetupinput" />
                <span asp-validation-for="setup" class="text-danger"></span>
            </div>
          
            <div class="form-group" id="oneliner">
                <label asp-for="joke" class="control-label"></label>
                <input asp-for="joke" class="form-control" id="onelinerinput" />
                <span asp-validation-for="joke" class="text-danger"></span>
            </div>

            <div class="form-group" id="twopartdelivery" style="display:none">
                <label asp-for="delivery" class="control-label"></label>
                <input asp-for="delivery" class="form-control" id="twopartdeliveryinput"/>
                <span asp-validation-for="delivery" class="text-danger"></span>
            </div>

            <div class="form-group pt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
<div id="display_user_joke">
    <h1 id="userCreatedJokes">Joke created by user</h1>
    @{
        if (Model != null)
        {
                            <p>This joke is now included in database. <a href="/home/outputdb">View all jokes</a></p>

            
        }
    }
    <p>@UserJoke.setup</p>
    <p>@UserJoke.joke</p>
    <p>@UserJoke.delivery</p>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script> 
        //update page depending on joke type
        $("#selectjoketype").change(function () {
            if (this.value == "single") {
                $("#oneliner").css("display", "block");
                $("#twopartsetup").css("display", "none");
                $("#twopartdelivery").css("display", "none");
                $("#twopartsetupinput").val("");
                $("#twopartdeliveryinput").val("");
            }
            else {
                $("#oneliner").css("display", "none");
                $("#twopartsetup").css("display", "block");
                $("#twopartdelivery").css("display", "block");
                $("#onelinerinput").val("");
            }
        });

        //use ajax to post joke and return joke as an alert
$("form").submit(function (e) {
            e.preventDefault();
            var joke = {
                type: $("#selectjoketype").val(),
                setup: $("#twopartsetupinput").val(),
                joke: $("#onelinerinput").val(),
                delivery: $("#twopartdeliveryinput").val()
            };
            $.ajax({
                type: "POST",
                url: "/home/postuserjokesJSON",
                data: joke,
                success: function (data) {
                    var joke = JSON.parse(data);
                    if(joke.type == "single") {
                        alert(joke.joke);
                         $("<div><p>"+joke.joke+"</p></br></div>").insertAfter("#userCreatedJokes");

                    }
                    else {
                        alert(joke.setup + "\n" + joke.delivery);
                    }
                    
                   
                 
                },
                error: function (data) {
                    alert("error");
                }
            });
        });
        
    </script>
}